
body {
    margin: 0;
    padding: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: white;
    padding: 10px 20px;
  }
  
  .company-logo {
    width: 100%;
    height: 40px;
    margin-right: 10px;
  }
  
  .company-name {
    font-size: 20px;
  }
  
  .menu-list {
    list-style: none;
    display: flex;
    font-size: 20px;

  }
  
  

  .menu-list li {
    margin-right: 50px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .menu-list li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
  }
  
  .menu-list li:hover::before {
    width: 100%;
  }
  
  
  .sub-menu {
    position: relative;
  }
  
  .sub-menu ul {
    display: none;
    position: absolute;
    background-color: white;
    list-style: none;
    padding: 0;
    margin: 0;
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 0.3s ease, transform 0.3s ease; 
  }
  
  .sub-menu:hover ul {
    display: block;
  }
  .menu-list li:hover .sub-menu ul {
    display: block;
    /* Add transition properties for smooth appearance */
    transition: opacity 0.3s ease, transform 0.3s ease;
    /* ... other styles */
  }
  
  .menu-list li:hover .sub-menu ul li {
    /* Add styles for sub-item appearance */
    padding: 10px;
  }
  
  .sub-menu ul li {
    padding: 10px;
  }
  
  .mobile-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
  }
  

  @media (max-width: 768px) {
    .menu-list {
      display: none;
    }
  
    .mobile-toggle {
      display: block;
      /* z-index: 1; */
    }

    .mobile-menu {
      display: block;
      background-color: white;
      opacity: 1;
      transform: translateY(0);
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .mobile-menu ul {
      flex-direction: column;
    }
    
    .mobile-menu li {
      margin: 10px 0;
    }
    
    .mobile-menu .sub-menu ul {
      left: 0;
    }
    
    .sub-menu ul {
      display: none;
      opacity: 0;
      transform: translateY(-10px); 
      transition: opacity 0.3s ease, transform 0.3s ease;
    }
    
    .sub-menu.open ul {
      display: block;
      opacity: 1;
      transform: translateY(0); /* Change translateY to reveal the submenu */
    }
    
}

